{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <a href="/sun" target="_blank"> 
      <img style="position: relative; width:350px; height:200px; top:50px; right:50px;" src="static/sun.png" >  
    </a>

    <a href="/mercury" target="_blank"> 
        <img style="position: relative; width:320px; height:200px; top:50px; right:500px; left:10px;" src="static/mercury.png" >  
      </a>

    <a href="/venus" target="_blank"> 
        <img style="position: relative; width:300px; height:200px; top:50px; left:50px;" src="static/venus.png" >  
    </a>
{% endblock %}